@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300;500&display=swap");

* {
  font-family: "Zilla slab", serif;
}
.aboutMe .header .title {
  text-align: "center";
  font-family: "Zilla Slab", serif;
  display: "flex";
}
.header {
  font-family: "Zilla Slab", serif;
}
.avatar {
  margin-left: auto;
  margin-right: auto;
}
